{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Soluciones en Informática. Infraestructura de redes digitales
            Soporte Técnico TI. </p>
        <p>Para una consultoría dedicada al Servicio Informático, la mejor carta de presentación son soluciones proyectadas en: escalabilidad, fiabilidad y seguridad.</p>
            
        <br>
        <p><b>Teléfono:</b> +52 720 169 7191</p>
        <p><b>Honorarios:</b> $250/h (precio base)</p>
    </div>
</div>
{% endblock %}

